mybatis-plus:
    configuration:
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
server:
    port: 8080
spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: 010619HYy
        type: com.alibaba.druid.pool.DruidDataSource
        url: jdbc:mysql://localhost:3306/initfast?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
        username: root
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher
