mybatis-plus:
    configuration:
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
server:
    port: 8080
spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password:
        type: com.alibaba.druid.pool.DruidDataSource
        url: jdbc:mysql://localhost:3306/xxx?useSSL=true&useUnicode=false&characterEncoding=utf-8&serverTimezone=UTC
        username:
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher
